<!DOCTYPE html>
<html lang="ru">

<head>
    
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-T6NK466');</script>
	<!-- End Google Tag Manager -->
	
    <meta charset="utf-8">
    <title>Container.title</title>
    
    <meta name="description" content="Container.description">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="css/libs.css">
    <link rel="shortcut icon" href="img/favicon.svg">
    <meta name="yandex-verification" content="a5330b9b2d07b4cf" />

</head>

<body>
   
   <!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T6NK466"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
	
<header class="header">
   <div class="container">
      <div class="header__logo logo-desktop"><img src="img/header-logo.svg" alt=""></div>
      <div class="header__logo logo-mob"><img src="img/logo-mob.svg" alt=""></div>
      <div class="header__info">
         <div class="soc-items">
            <a href="whatsapp://send?abid=+375291122485" class="soc-icon"><img src="img/soc-icon-1.svg" alt=""></a>
            <a href="https://tlgrm.ru/" class="soc-icon"><img src="img/soc-icon-2.svg" alt=""></a>
            <a href="viber://chat?number=+375291122485" class="soc-icon"><img src="img/soc-icon-3.svg" alt=""></a>
         </div>
         <div class="header__phone">
            <a href="tel:+375291122485"><span class="header__phone-icon"><img src="img/phone-icon.svg" alt=""></span>+375 29 11 22 485</a>  
         </div>
      </div>
      <div class="header__right">
         <a href="#s-price" class="btn btn-tsp go-to">Цена</a>
         <a href="#s-form" class="btn go-to">Бесплатный урок</a>
      </div>
   </div>
</header>

<section class="s-intro">
   <div class="container">
      <div class="s-intro__left">
         <h1 class="main-title" >Container.name</h1>
         <p class="title-descr">
            Первое онлайн-занятие бесплатно
         </p>
         <a href="#s-form" class="btn go-to">Записаться</a>
      </div>
      <div class="s-intro__right">
         <div class="video-box">
            <div class="video-box__img"><img src="img/video-img-1.jpg" alt=""></div>
            <a href="https://www.youtube.com/watch?v=llcbMswuerk" data-fancybox class="video-box__open"><img src="img/youtube-icon.svg" alt=""></a>
         </div>
      </div>
   </div>
</section>

<section class="s-info">
   <div class="container">
      <div class="info-card">
         <h2 class="s-title">Я смогу учиться дистанционно?</h2>
         <div class="info-card__items">
            <div class="info-item align-center">
               <div class="info-item__icon"><img src="img/icon-1.svg" alt=""></div>
               <p>
                  ученику <span>3+</span> лет
               </p>
            </div>
            <div class="info-item">
               <div class="info-item__icon"><img src="img/icon-2.svg" alt=""></div>
               <p>
                  не требуется логомассаж
               </p>
            </div>
            <div class="info-item">
               <div class="info-item__icon"><img src="img/icon-3.svg" alt=""></div>
               <p>
                  есть видео-камера и хороший интернет
               </p>
            </div>
         </div>
         <div class="s-info__text"><a href="#s-problem" class="go-to">Какие проблемы мы решаем?</a></div>
      </div>
   </div>
</section>

<section class="s-masters" id="s-masters">
   <div class="container">
      <h2 class="s-title">Container.masterList</h2>
      <div class="s-post-items">
         <div class="masters-wrap">
            <div class="masters-wrap__left"></div>
            <div class="masters-wrap__right"></div>
            
         </div>
         <div class="more-post">
            <a href="#" class="btn btn-tsp show-more-post">Смотреть ещё</a>
         </div>
      </div>
   </div>
</section>

<section class="s-reviews" id="s-review">
   <div class="container">
      <h2 class="s-title">Container.reviewList</h2>
      <div class="s-post-items">
         <div class="reviews-wrap">
            <div class="reviews-wrap__left"></div>
            <div class="reviews-wrap__right"></div>
            
         </div>
         <div class="more-post">
            <a href="#" class="btn btn-tsp show-more-post">Все отзывы</a>
         </div>
      </div>
   </div>
</section>

<section class="s-problem" id="s-problem">
   <div class="container">
      <h2 class="s-title">Какие проблемы мы решаем?</h2>
      <div class="problem-wrap">
         <div class="problem-wrap__left">
            <div class="accordion-item problem-item">
               <div class="accordion-title problem-item__top">
                  <div class="problem-item__icon"><img src="img/pb-icon-1.svg" alt=""></div>
                  <h4 class="problem-item__title">Произношение звуков</h4>
                  <div class="problem-item__arrow">
                     <svg width="14" height="26" viewBox="0 0 14 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L13 13L1 25" stroke="#6EA81E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>                        
                  </div>
               </div>
               <div class="accordion-content problem-item__content">
                  Мы учим чётко и правильно произносить звуки в словах и предложениях, в пересказах и самостоятельной речи. В игровой форме и с помощью специальных упражнений учимся чётко и правильно произносить звуки и слова. «Слышать» правильный звук и использовать в своей речи.              
               </div>
            </div>
            <div class="accordion-item problem-item">
               <div class="accordion-title problem-item__top">
                  <div class="problem-item__icon"><img src="img/pb-icon-2.svg" alt=""></div>
                  <h4 class="problem-item__title">Обогащение словарного запаса и развитие грамматики</h4>
                  <div class="problem-item__arrow">
                     <svg width="14" height="26" viewBox="0 0 14 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L13 13L1 25" stroke="#6EA81E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>                        
                  </div>
               </div>
               <div class="accordion-content problem-item__content">
                  Знакомимся с названиями предметов и явлениями окружающего мира. Учимся составлять предложения и согласовывать слова. Подбираем синонимы и антонимы, использовать предлоги для полноценной и грамотной речи.              
               </div>
            </div>
            <div class="accordion-item problem-item">
               <div class="accordion-title problem-item__top">
                  <div class="problem-item__icon"><img src="img/pb-icon-3.svg" alt=""></div>
                  <h4 class="problem-item__title">Развитие связной речи</h4>
                  <div class="problem-item__arrow">
                     <svg width="14" height="26" viewBox="0 0 14 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L13 13L1 25" stroke="#6EA81E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>                        
                  </div>
               </div>
               <div class="accordion-content problem-item__content">
                  Учимся пересказывать прослушанные текст. Составляем описательные и сюжетные рассказы. Вместе придумываем фантазийные истории и даже озвучивать мультфильмы. Помогаем наполнить речь ребёнка эмоциональностью и выразительностью.
               </div>
            </div>
            <div class="accordion-item problem-item">
               <div class="accordion-title problem-item__top">
                  <div class="problem-item__icon"><img src="img/pb-icon-4.svg" alt=""></div>
                  <h4 class="problem-item__title">Развитие фонематического слуха</h4>
                  <div class="problem-item__arrow">
                     <svg width="14" height="26" viewBox="0 0 14 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L13 13L1 25" stroke="#6EA81E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>                        
                  </div>
               </div>
               <div class="accordion-content problem-item__content">
                  Учимся различать звуки на слух: («суп» и «зуб», «мишка» и «мышка») Определяем место звуков в словах, их последовательность. Подготавливаемся к дальнейшему обучению чтению и письму.
               </div>
            </div>
            <div class="accordion-item problem-item">
               <div class="accordion-title problem-item__top">
                  <div class="problem-item__icon"><img src="img/pb-icon-5.svg" alt=""></div>
                  <h4 class="problem-item__title">Развитие артикуляции и мелкой моторики</h4>
                  <div class="problem-item__arrow">
                     <svg width="14" height="26" viewBox="0 0 14 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L13 13L1 25" stroke="#6EA81E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>                        
                  </div>
               </div>
               <div class="accordion-content problem-item__content">
                  Используем артикуляционную гимнастику для языка. Учимся «чувствовать» как и где появляются правильные звуки «с», «ш», «л», «р». Развиваем подвижность и точность языка.
               </div>
            </div>
         </div>
         <div class="problem-wrap__right">
            <div class="accordion-item problem-item">
               <div class="accordion-title problem-item__top">
                  <div class="problem-item__icon"><img src="img/pb-icon-6.svg" alt=""></div>
                  <h4 class="problem-item__title">Постановка речевого дыхания</h4>
                  <div class="problem-item__arrow">
                     <svg width="14" height="26" viewBox="0 0 14 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L13 13L1 25" stroke="#6EA81E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>                        
                  </div>
               </div>
               <div class="accordion-content problem-item__content">
                  Исправляем запинки в речи (заикание)
                  Учимся дышать «животиком», «надувать шарики» и «накачивать шину» для снятия напряжение и придания звучанию речи плавность и мелодичность
               </div>
            </div>
            <div class="accordion-item problem-item">
               <div class="accordion-title problem-item__top">
                  <div class="problem-item__icon"><img src="img/pb-icon-7.svg" alt=""></div>
                  <h4 class="problem-item__title">Письменная речь</h4>
                  <div class="problem-item__arrow">
                     <svg width="14" height="26" viewBox="0 0 14 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L13 13L1 25" stroke="#6EA81E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>                        
                  </div>
               </div>
               <div class="accordion-content problem-item__content">
                  Учимся «видеть» буквы, составлять из них слоги, слова и словосочетания. Решаем проблемы с нарушениями письма (дисграфия и дислексия): ребёнок не дописывает окончания, пропускает буквы, слитно пишет слова, забывает про мягкий знак
               </div>
            </div>
            <div class="accordion-item problem-item">
               <div class="accordion-title problem-item__top">
                  <div class="problem-item__icon"><img src="img/pb-icon-8.svg" alt=""></div>
                  <h4 class="problem-item__title">Развитие внимания, памяти и мышления</h4>
                  <div class="problem-item__arrow">
                     <svg width="14" height="26" viewBox="0 0 14 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L13 13L1 25" stroke="#6EA81E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>                        
                  </div>
               </div>
               <div class="accordion-content problem-item__content">
                  При помощи специальных игр развиваем все стороны и компоненты речи. Улучшаем внимательность, учимся запоминать информацию и широко мыслить.
               </div>
            </div>
            <div class="accordion-item problem-item">
               <div class="accordion-title problem-item__top">
                  <div class="problem-item__icon"><img src="img/pb-icon-9.svg" alt=""></div>
                  <h4 class="problem-item__title">Подготовка к школе</h4>
                  <div class="problem-item__arrow">
                     <svg width="14" height="26" viewBox="0 0 14 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L13 13L1 25" stroke="#6EA81E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>                        
                  </div>
               </div>
               <div class="accordion-content problem-item__content">
                  Учимся читать и считать, ориентироваться в окружающем мире и пространстве. Строим предложения и составляем рассказы, (общаемся со сверстниками). Занятия проходят с использованием мультимедийных пособий.
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

<section class="s-online">
   <div class="container">
      <h2 class="s-title">Container.lessonVideo</h2>
      <div class="online-wrap">
         <div class="online-wrap__left">
            <div class="video-box">
               <div class="video-box__img"><img src="img/video-img-2.jpg" alt=""></div>
               <a href="https://www.youtube.com/watch?v=afSsArq3L_o" data-fancybox class="video-box__open"><img src="img/youtube-icon.svg" alt=""></a>
            </div>
         </div>
         <div class="online-wrap__right">
            <div class="ls-structure" data-mark="lessons_are_structure">
               <div class="ls-item">
                  <h5 class="ls-item__title">Для урока нужно</h5>
                  <ul class="ls-item__lists">
                     <li>программа Skype или Zoom</li>
                     <li>видео-камера и хороший интернет</li>
                  </ul>
               </div>
               <div class="ls-item">
                  <h5 class="ls-item__title">Используем</h5>
                  <ul class="ls-item__lists">
                     <li>мультимедийные презентации</li>
                     <li>упражнения</li>
                     <li>игры и задания</li>
                     <li>личный пример</li>
                  </ul>
               </div>
               <a href="#s-form" class="btn btn-tsp go-to">Задать вопрос</a>
            </div>
         </div>
      </div>
   </div>
</section>


<section class="s-price" id="s-price">
   <div class="container">
      <div class="price-wrap" data-mark="lesson_cost">
         <h2 class="s-title">Container.lessonCost</h2>
         <div class="price-card">
            <div class="price-card__top">
               <div class="price-card__top-left">
                  <div class="price-card__info">
                     <div class="price">1000 ₽</div>
                     <span class="price-card__delimeter">/</span>
                     <span class="price-card__time">45 мин</span>
                  </div>
                  <p class="price-card__descr">Оплата со <span>второго</span> онлайн занятия</p>
               </div>
               <div class="price-card__top-right">
                  <div class="price-card__img"><img src="img/credit-card-img.svg" alt=""></div>
               </div>
            </div>
            <ul class="price-card__details">
               <li class="price-card__list">
                  <div class="price-card__list-icon"><img src="img/attention-icon.svg" alt=""></div>
                  <span>Оплата занятия происходит заранее</span>
               </li>
               <li class="price-card__list">
                  <div class="price-card__list-icon"><img src="img/attention-icon.svg" alt=""></div>
                  <span>Отменить занятие без потери оплаты можно за 6 часов до начала урока</span>
               </li>
               <li class="price-card__list">
                  <div class="price-card__list-icon"><img src="img/plus-icon.svg" alt=""></div>
                  <span>Стоимость занятия фиксирована, не зависит от показаний</span>
               </li>
            </ul>
            <div class="price-card__btn">
               <a href="#s-form" class="btn go-to">Записаться</a>
            </div>
         </div>
         <div class="price-safe">
            <div class="price-safe__icon"><img src="img/safe-icon.svg" alt=""></div>
            <p class="add-read-more show-less-content">
               Оплатить можно банковской картой Visa или Mastercard. Платежи по банковским картам осуществляются через систему электронных платежей E-POS. Платёжная система безопасна, она отвечает всем требованиям безопасности передачи данных (PCI DSS Level 1) Все конфиденциальные данные хранятся в зашифрованном виде и устойчивы к взлому.
            </p>
         </div>
      </div>
   </div>
</section>

<section class="s-question">
   <div class="container">
      <h2 class="s-title">Container.faqName</h2>
      <div class="question-wrap fag">
         <div class="question-wrap__left">
            <div class="accordion-item question-item">
               <div class="accordion-title question-item__title">
                  <h3 class="question-item__ask">Container.question_1</h3>
                  <div class="question-item__icon">
                     <svg width="14" height="26" viewBox="0 0 14 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L13 13L1 25" stroke="#6C5CE7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>                        
                  </div>
               </div>
               <div class="accordion-content question-item__text">
                  Container.answer_1
              </div>
            </div>
            <div class="accordion-item question-item">
               <div class="accordion-title question-item__title">
                  <h3 class="question-item__ask">Container.question_2</h3>
                  <div class="question-item__icon">
                     <svg width="14" height="26" viewBox="0 0 14 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L13 13L1 25" stroke="#6C5CE7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>                        
                  </div>
               </div>
               <div class="accordion-content question-item__text">
                  Container.answer_2
              </div>
            </div>
            <div class="accordion-item question-item">
               <div class="accordion-title question-item__title">
                  <h3 class="question-item__ask">Container.question_3</h3>
                  <div class="question-item__icon">
                     <svg width="14" height="26" viewBox="0 0 14 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L13 13L1 25" stroke="#6C5CE7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>                        
                  </div>
               </div>
               <div class="accordion-content question-item__text">
                  Container.answer_3
              </div>
            </div>
            <div class="accordion-item question-item">
               <div class="accordion-title question-item__title">
                  <h3 class="question-item__ask">Container.question_4</h3>
                  <div class="question-item__icon">
                     <svg width="14" height="26" viewBox="0 0 14 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L13 13L1 25" stroke="#6C5CE7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>                        
                  </div>
               </div>
               <div class="accordion-content question-item__text">
                  Container.answer_4
              </div>
            </div>
            <div class="accordion-item question-item">
               <div class="accordion-title question-item__title">
                  <h3 class="question-item__ask">Container.question_5</h3>
                  <div class="question-item__icon">
                     <svg width="14" height="26" viewBox="0 0 14 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L13 13L1 25" stroke="#6C5CE7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>                        
                  </div>
               </div>
               <div class="accordion-content question-item__text">
                  Container.answer_5
              </div>
            </div>
         </div>
         <div class="question-wrap__right">
            <div class="question-img"><img src="img/qa-img.svg" alt=""></div>
            <a href="#s-form" class="btn btn-tsp go-to">Задать вопрос</a>
         </div>
      </div>
   </div>
</section>


<section class="s-form" id="s-form">
   <div class="container">
      <h2 class="s-title">Запишитесь на бесплатную диагностику</h2>
      <div class="form-wrap">
         <div class="form-wrap__left">
            <div class="form-card">
               <form class="form-validation" action="mail.php">
                  <!-- Hidden Required Fields -->
                  <input type="hidden" name="project_name" value="Flyvord">
                  <input type="hidden" name="admin_email" value="flyvord@gmail.com">
                  <input type="hidden" name="form_subject" value="Заявка с сайта Flyvord">
                  <!-- END Hidden Required Fields -->
                  <div class="form-group">
                     <div class="form-label">Ваше имя</div>
                     <input type="text" name="Name" class="input-control required">
                     <div class="error-msg">Введите корректное значение</div>  
                  </div>
                  <div class="form-group">
                     <div class="form-label">Номер телефона</div>
                     <input type="tel" name="Phone" class="input-control required control-phone">
                     <div class="error-msg">Введите корректное значение</div>
                  </div>
                  <div class="form-group checkbox-group">
                     <div class="form-label">Связаться со мной через мессенджер</div>
                     <div class="checkbox-items">
                        <label class="checkbox-item">
                           <input type="checkbox" name="Whatsapp" checked="checked">
                           <span class="checkmark">
                              <span class="checkmark__icon"><img src="img/soc-icon-1.svg" alt=""></span>
                              <span class="checkmark__name">Whatsapp</span>
                              <span class="checkmark__checked"><img src="img/check-icon.svg" alt=""></span>
                           </span>
                        </label>
                        <label class="checkbox-item">
                           <input type="checkbox" name="Telegram">
                           <span class="checkmark">
                              <span class="checkmark__icon"><img src="img/soc-icon-2.svg" alt=""></span>
                              <span class="checkmark__name">Telegram</span>
                              <span class="checkmark__checked"><img src="img/check-icon.svg" alt=""></span>
                           </span>
                        </label>
                        <label class="checkbox-item">
                           <input type="checkbox" name="Viber">
                           <span class="checkmark">
                              <span class="checkmark__icon"><img src="img/soc-icon-3.svg" alt=""></span>
                              <span class="checkmark__name">Viber</span>
                              <span class="checkmark__checked"><img src="img/check-icon.svg" alt=""></span>
                           </span>
                        </label>
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="form-label">Задайте вопрос</div>
                     <textarea class="input-control textarea required" name="Question"></textarea>
                     <div class="error-msg">Введите корректное значение</div>
                  </div>
                  <div class="form-btn">
                     <button class="btn">Записаться</button>
                  </div>
               </form>
            </div>
         </div>
         <div class="form-wrap__right">
            <div class="adv-items">
               <div class="adv-item">
                  <div class="adv-item__icon"><img src="img/effective-icon.svg" alt=""></div>
                  <h4 class="adv-item__title">Результативно</h4>
                  <p>
                     Результат такой же хороший как, и от привычных занятий, если ваше показание не требует личного контакта
                  </p>
               </div>
               <div class="adv-item">
                  <div class="adv-item__icon"><img src="img/comfortable-icon.svg" alt=""></div>
                  <h4 class="adv-item__title">Удобнее</h4>
                  <p>
                     Не нужно никуда ехать. Достаточно ноутбука и с выходом в интернет
                  </p>
               </div>
               <div class="adv-item">
                  <div class="adv-item__icon"><img src="img/cheaper-icon.svg" alt=""></div>
                  <h4 class="adv-item__title">Дешевле</h4>
                  <p>
                     Уроки онлайн дешевле на 20-25%
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="s-links">
   <div class="container">
      Container.list_items3
      <div class="links-item">
         <div class="links-item__title">Container.linksBlock_1</div>
         Container.listLinks_1
      </div> 
      <div class="links-item">
         <div class="links-item__title">Container.linksBlock_2</div>
         <ul>
            <li>Чехия</li>
            <li>Польша</li>
            <li>Испания</li>
            <li>Армения</li>
            <li>Украина</li>
            <li>Казахстан</li>
            <li>Латвия</li>
            <li>Беларусь</li>
            <li>Россия</li>
            <li>Литва</li>
            <li>США</li>
            <li>Израиль</li>
            <li>Нидерланды</li>
            <li>Германия</li>
            <li>Великобритания</li>
         </ul>
      </div> 
   </div>
</section>

<footer class="footer">
   <div class="container">
      <div class="footer__top">
         <div class="footer__top-left">
            <div class="footer__contact">
               <h3 class="footer__title">Достигайте успеха с Flyvord</h3>
               <a href="#s-form" class="btn btn-tsp go-to">Бесплатный урок</a>
               <!--<div class="footer__info">
                  <div class="soc-items">
                     <a href="whatsapp://send?abid=+375291234567" class="soc-icon"><img src="img/soc-icon-1.svg" alt=""></a>
                     <a href="https://tlgrm.ru/" class="soc-icon"><img src="img/soc-icon-2.svg" alt=""></a>
                     <a href="viber://chat?number=+375291234567" class="soc-icon"><img src="img/soc-icon-3.svg" alt=""></a>
                  </div>
                  <a href="tel:+375291234567" class="footer__phone">+375 29 123–45–67</a> 
               </div>-->
            </div>
            <nav class="footer__nav" data-da="footer__top-right,0,767">
               <ul>
                  <li><a href="#s-masters" class="go-to">Логопеды школы Flyvord</a></li>
                  <li><a href="#s-review" class="go-to">Отзывы о специалистах</a></li>
                  <li><a href="#s-problem" class="go-to">Какие проблемы мы решаем</a></li>
                  <li><a href="#s-price" class="go-to">Стоимость урока</a></li>
               </ul>
               <a href="mailto:flyvord@gmail.com" class="footer__email">flyvord@gmail.com</a>
            </nav>
         </div>
         <div class="footer__top-right">
            <div class="footer__soc">
               <!-- <a href="https://www.instagram.com/" target="_blank" class="footer__soc-item"><img src="img/insta-icon.svg" alt=""></a>  -->
               <a href="https://www.youtube.com/channel/UC4RtTidnEqxoP6jrbTqoFOg" class="footer__soc-item"><img src="img/yout-icon.svg" alt=""></a>                        
               <!--  <a href="https://vk.com/" class="footer__soc-item" target="_blank"><img src="img/vk-icon.svg" alt=""></a>      -->         
            </div>
         </div>
      </div>
      <div class="footer__bottom">
         <div class="footer__bottom-left">
            <div class="footer__address">ООО «Редсейл». Беларусь, г. Гомель, ул. Рабочая, 28, офис 208</div>
            <div class="footer__pay-icons">
               <img src="img/pay-icon-1.svg" alt="">
               <img src="img/pay-icon-2.svg" alt="">
            </div>
         </div>
         <div class="footer__bottom-right">
            <div class="copyright">Copyright 2021 Flyvord.com</div>
         </div>
      </div>
   </div>
</footer>

<div class="mob-widget soc-widget">
   <div class="mob-widget__dropdown">
      <a href="tel:+375291122485" class="widget-soc-item"><img src="img/widget-icon-3.svg" alt=""></a>
      <a href="whatsapp://send?abid=+375291122485" class="widget-soc-item"><img src="img/widget-icon-4.svg" alt=""></a>
      <a href="viber://chat?number=+375291122485" class="widget-soc-item"><img src="img/widget-icon-5.svg" alt=""></a>
      <a href="https://tlgrm.ru/" class="widget-soc-item"><img src="img/widget-icon-6.svg" alt=""></a>
   </div> 
   <div class="mob-widget__control">
      <div class="open-widget widget-control"><img src="img/widget-icon-1.svg" alt=""></div>
      <div class="close-widget widget-control"><img src="img/widget-icon-2.svg" alt=""></div>
   </div>
</div>

<div class="widget-tooltip">
   <div class="widget-tooltip__close"><img src="img/close-icon.svg" alt=""></div>
   <p>
      Остались вопросы? Позвоните нам
   </p>
</div> 


<div class="hidden popup-success" id="popup-success">
   <div class="popup-success__icon"><img src="img/mail-send-icon.svg" alt=""></div>
   <h4 class="popup-title">Спасибо! <br> Заявка отправлена</h4>
   <p class="popup-descr">
      Мы позвоним вам в течение рабочего дня, чтобы договориться о занятии
   </p>
</div>

<script type="application/ld+json">
   {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": [
         {
            "@type": "Question",
            "name": "Container.question_1",
            "acceptedAnswer": {
               "@type": "Answer",
               "text": "Container.answer_1"
            }
         },
         {
            "@type": "Question",
            "name": "Container.question_2",
            "acceptedAnswer": {
               "@type": "Answer",
               "text": "Container.answer_2"
            }
         },
         {
            "@type": "Question",
            "name": "Container.question_3",
            "acceptedAnswer": {
               "@type": "Answer",
               "text": "Container.answer_3"
            }
         },
         {
            "@type": "Question",
            "name": "Container.question_4",
            "acceptedAnswer": {
               "@type": "Answer",
               "text": "Container.answer_4"
            }
         },
         {
            "@type": "Question",
            "name": "Container.question_5",
            "acceptedAnswer": {
               "@type": "Answer",
               "text": "Container.answer_5"
            }
         }     

       ]
   }
</script>

<script src="js/libs.js"></script>

</body>

</html>

