<div class="masters-item post-item">
   <div class="masters-item__top">
      <div class="masters-item__avatar"><img src="master/MasterData.logoPath" alt=""></div>
      <div class="masters-item__info">
         <h4 class="masters-item__initials">MasterData.initials</h4>
         <p class="masters-item__specialization">MasterData.specialization</p>
         <span class="masters-item__experience">MasterData.experience</span>
      </div>
   </div>
   <div class="masters-item__content">
      
   </div>
</div>