<div class="review-item post-item">
    <div class="review-item__rating rating-star">
       <div class="rating-star__count">ReviewData.rate</div>
       <div class="rating-star__items">
          <img src="img/star-icon.svg" alt="">
          <img src="img/star-icon.svg" alt="">
          <img src="img/star-icon.svg" alt="">
          <img src="img/star-icon.svg" alt="">
          <img src="icon5" alt="">
       </div>
    </div>
    <h4 class="review-item__name">ReviewData.customerName</h4>
    <div class="review-item__text"><p class="add-read-more show-less-content">ReviewData.text</p></div>
    <div class="review-item__date">ReviewData.date</div>
</div>